{% spaceless %}
{% comment %}
Base template that all app pages should extend.

Overridable blocks:
- pageTitle: the title of the page
- style: inline CSS to include in the page style tag
- head: extra content to include in the page head tag
- headerBarBrand: content for the "brand" link in the upper right, usually the app title
- headerBarBrandLink: target of the "brand" link, usually the app's home page
- headerBarRight: extra nav items (<li>'s) to include on the right side of the header bar
- content: the main content of the page
- footerBar: content for the footer nav bar
- script: any additional scripts or script links the page needs
{% endcomment %}

    {% load i18n %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block pageTitle %}{% endblock %}</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

        <style>
            @media (max-width: 992px) { .navbar { margin-bottom: 10px; } }
            @media (max-width: 768px) { .navbar-collapse { text-align: right; } }
            html, body { height: 100%; }
            #bodyWrapper { min-height: 100%; position: relative; }
            #bodyContent { padding-bottom: 46px; }
            div#headerBar, div#footer { border-radius: 0px; }
            div#footer { z-index: -1; min-height: 0; width: 100%; position: absolute;
                bottom: 0; margin-bottom: 0; padding: 0 3px; }
            div#footer * { margin-top: 3px; margin-bottom: 3px; }
            .form-actions :not(:first-child) { margin-left: 3px; }
            {% block style %}{% endblock %}
        </style>

        {% block head %}{% endblock %}

    </head>
    <body>

    <!--[if lt IE 9]>
  <div class="alert alert-danger">
    <h4>Browser Incompatibility</h4>
    <p>
      This site does not support your browser. These pages won't look right and some functions will not work at all.
      We strongly recommend that you upgrade to a newer browser to get a functional experience from this site.
    </p>
    <p>For instance, <a href="http://www.google.com/chrome">Google Chrome</a> is an excellent choice.</p>
  </div>
<![endif]-->

    <div id="bodyWrapper">
        {# BEGIN HEADER BAR #}
        <div id="headerBar" class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerBarCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="header-home" class="navbar-brand" href="{% block headerBarBrandLink %}/{% endblock %}">
                        {% block headerBarBrand %}{% endblock %}
                    </a>
                </div>

                <div id="headerBarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% block headerBarRight %}{% endblock %}

                        {% if user.is_authenticated %}
                            <li><a id="header-logout" href="{% url "account_logout" %}">{% trans "Logout" %}</a></li>
                            <li><a id="header-user-profile" href={% url "account_profile" %}>{{ user.username }}</a></li>
                        {% else %}
                            <li><a id="header-login" href="{% url "account_login" %}">{% trans "Login" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {# END HEADER BAR #}

        {# BEGIN BODY #}
        <noscript>
            <div class="alert alert-danger">
                <h4>Uh oh!</h4>
                <p>It looks like you have scripts disabled in your browser.</p>
                <p>This site won't be very useful without javascript. Please enable scripting for this site before
                    continuing.</p>
            </div>
        </noscript>

        {% include "dcbase/messages.html" %}

        {% block content %}{% endblock %}
        {# END BODY #}

        {# BEGIN FOOTER #}
        <div id="footer" class="navbar navbar-inverse" role="navigation">
            {% block footerBar %}{% endblock %}
        </div>
        {# END FOOTER #}
    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.50/jquery.form.min.js"></script>
    <script>
        var dcbase = {
            showAjaxError: function (jqXHR) {
                var errorBox = $('<div class="ajaxError fade in alert alert-danger">' +
                        '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<h4>Operation Failed</h4>' +
                        '<p><strong>' + jqXHR.statusText + '</strong></p>' +
                        '<p>' + this.type + ': ' + this.url + '</p>' +
                        '</div>'
                );
                $('#bodyContent').append(errorBox);
            },
            createUrl: function (urlPattern) {
                var parts = urlPattern.split('0');
                var finalUrl = '';
                for (var i = 0; i < (parts.length - 1); i++) {
                    finalUrl += parts[i];
                    finalUrl += arguments[i + 1];
                }
                finalUrl += parts[parts.length - 1];
                return finalUrl;
            }
        };
    </script>
    {% block script %}{% endblock %}

    </body>
    </html>

{% endspaceless %}
