{% load form_tags %}
{% load widget_tweaks %}

{% csrf_token %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
    {% if field|is_checkbox %}
        <div class="checkbox">
            <label>
                {% render_field field %}
                {% if not field.is_hidden %}
                    {{ field.label }}
                {% endif %}
            </label>
        </div>
    {% else %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% block formField %}{% endblock %}
        </div>
    {% endif %}
{% endfor %}
