{% extends "base.html" %}

{% block pageTitle %}DC Base Test Page{% endblock %}

{% block headerBarLeft %}
    <li><button class="btn btn-primary">Left Button</button> </li>
{% endblock %}

{% block headerBarRight %}
    <li><a href="#" class="navbar-link">Header Link Right</a> </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                Test Pages:
                <ul>
                    <li><a href="{% url "account_signup" %}">signup</a></li>
                    <li><a href="{% url "account_login" %}">login</a></li>
                    <li><a href="{% url "account_logout" %}">logout</a></li>
                    <li><a href="{% url "account_change_password" %}">change password</a></li>
                    <li><a href="{% url "account_email" %}">change email</a></li>
                    <li><a href="{% url "account_inactive" %}">inactive</a></li>
                    <li><a href="{% url "account_email_verification_sent" %}">email confirm sent</a></li>
                    <li><a href="{% url "socialaccount_login_cancelled" %}">social login cancelled</a></li>
                    <li><a href="{% url "socialaccount_login_error" %}">social login error</a></li>
                    <li><a href="{% url "socialaccount_signup" %}">social login signup</a></li>
                    <li><a href="{% url "socialaccount_connections" %}">social login connections</a></li>
                    <li><a href="{% url "account_profile" %}">profile</a></li>
                    <li><a href="{% url "account_profile_edit" %}">profile edit</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3>Normal Form</h3>
                <form>
                    {% include "dcbase/form/form.html" %}
                </form>

                <h4>Single Form Field</h4>
                {% include "dcbase/form/form-field.html" with field=form.errors %}
            </div>
            <div class="col-sm-3">
                <h3>Horizontal Form</h3>
                <form class="form-horizontal">
                    {% include "dcbase/form/form-horizontal.html" with formLabelCols=2 formFieldCols=10 %}
                </form>
                <h4>Single Widget</h4>
                {% include "dcbase/form/form-widget.html" with field=form.errors %}
            </div>
            <div class="col-sm-3">
                <p>
                    Users type-ahead select:
                    <input id="users-select" class="form-control" type="text" />
                </p>
                <p>
                    <button id="popup-form" class="btn btn-default">Pop-up AJAX form</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerBar %}
    <a class="navbar-link" href="#">Links go here</a>
{% endblock %}

{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            dcbase.createUserTypeahead('#users-select');
            $('#popup-form').click(function(e) {
               dcbase.popupAjaxForm({
                   url: "{% url "popupAjaxForm" %}"
               });
            });
        });
    </script>
{% endblock %}
