{% extends "base.html" %}

{% block pageTitle %}DC Base Test Page{% endblock %}
{% block content %}
    <div class="container">
        Test Pages:
        <ul>
            <li><a href="{% url "account_signup" %}">signup</a></li>
            <li><a href="{% url "account_login" %}">login</a></li>
            <li><a href="{% url "account_logout" %}">logout</a></li>
            <li><a href="{% url "account_change_password" %}">change password</a></li>
            <li><a href="{% url "account_email" %}">change email</a></li>
            <li><a href="{% url "account_inactive" %}">inactive</a></li>
            <li><a href="{% url "account_email_verification_sent" %}">email confirm sent</a></li>
            <li><a href="{% url "socialaccount_login_cancelled" %}">social login cancelled</a></li>
            <li><a href="{% url "socialaccount_login_error" %}">social login error</a></li>
            <li><a href="{% url "socialaccount_signup" %}">social login signup</a></li>
            <li><a href="{% url "socialaccount_connections" %}">social login connections</a></li>
            <li><a href="{% url "account_profile" %}">profile</a></li>
            <li><a href="{% url "account_profile_edit" %}">profile edit</a></li>
        </ul>
    </div>
{% endblock %}
