{% extends "dcbase/base-narrow-dialog.html" %}
{% load i18n %}

{% block pageTitle %}{% trans "Signup" %}{% endblock %}

{% block panelHeading %}
    <h1>{% trans "Sign Up" %}</h1>
{% endblock %}

{% block panelBody %}
    <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% include "dcbase/form/form.html" %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
{% endblock %}


