{% extends "dcbase/base.html" %}

{% load i18n %}
{% load account %}

{% block pageTitle %}{% trans "Sign In" %}{% endblock %}

{% block style %}
    h1, h4 { text-align: center; }
    @media (min-width: 768px) { #login-local { border-left: 1px solid black; } }
    .list-group-item { font-weight: bold; text-align: center; }
    #signup-button { margin-left: 5px; }
    #forgot-pwd-button { position: absolute; right: 15px; }
{% endblock %}

{% block content %}

    <div class="container">
        <h1>{% trans "Sign In" %}</h1>

        <div class="row">
            <div id="login-social" class="col-sm-4 col-sm-offset-2">
                <h4>Sign in using your social account</h4>
                <p>
                    {% if socialaccount.providers %}
                        <div class="list-group">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </div>

                        {% include "socialaccount/snippets/login_extra.html" %}
                    {% endif %}
                </p>
            </div>
            <div id="login-local" class="col-sm-4">
                <h4>Or your personal local account</h4>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% include "dcbase/form.html" %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    <a id="signup-button" class="btn btn-success" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
                    <a id="forgot-pwd-button" class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
