{% extends "dcbase/base-narrow-dialog.html" %}

{% load i18n %}

{% block pageTitle %}{% trans "Change Password" %}{% endblock %}

{% block panelHeading %}
    <h1>{% trans "Change Password" %}</h1>
{% endblock %}

{% block panelBody %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% include "dcbase/form.html" %}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
