{% extends "base.html" %}

{% load i18n %}

{% block pageTitle %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container narrow-panel-dialog">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{% trans "Change Password" %}</h1>
            </div>
            <div class="panel-body">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {% include "dcbase/form.html" %}
                    <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
