{% extends "base.html" %}
{% load i18n %}
{% load gravatar %}

{% block pageTitle %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <h1>
                    {% gravatar user.email 50 %}
                    {{ user.username }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul id="profile-nav" class="nav nav-pills nav-stacked">
                    {% for navLink in profileNavLinks %}
                        <li role="presentation"{% if navLink.name == selectedProfileNavLink %} class="active"{% endif %}>
                            <a href="{{ navLink.url }}">{{ navLink.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                <div id="profile-panel" class="panel panel-{% block panelType %}primary{% endblock %}">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% block panelHeading %}{{ profilePanelHeading }}{% endblock %}</h1>
                    </div>
                    <div class="panel-body">
                        {% block panelBody %}
                            {% if form %}
                                <form method="POST">
                                    {% include "dcbase/form.html" %}
                                    <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
                                </form>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

